<div class="content">
    <div class="container-fluid px-4" *ngIf="error === null">
        <div class="row justify-content-md-center">

            <div [ngClass]="pageType === 'classic' ? 'col-12 col-lg-9 col-xl-7' : 'col-12 col-lg-10 col-xl-9'">
                <!-- LEFT SIDE [VIDEO/COMMENTS] -->
                <div class="vid-com-section">
                    <div class="video-section">
                        <div #player class="player">
                          <button *ngIf="videoIsMuted" (click)="videoIsMuted = false;" class="btn btn-danger position-absolute w-100 h-100 rounded-0" style="opacity: 0.5;"><strong style="font-size: 20px;" class="text-white">Click to unmute</strong></button>
                            <video #playerVideo [muted]="videoIsMuted" id="video" poster="http://192.168.100.2:3000/{{ cover }}">
                                <source #playerSource id="source" src="http://192.168.100.2:3000/{{ path }}" type="video/mp4" />
                            </video>

                            <div #playerControls class="player-controls">
                                <div #progress class="progress">
                                    <div #filledProgress class="filled-progress"></div>
                                    <div #filledBufferProgress class="filled-buffer-progress"></div>
                                </div>

                                <div #playPauseBtn class="ply-btn">
                                    <button #togglePlay class="player-btn toggle-play" title="Toggle Play">
                                        <i class="fa fa-play"></i>
                                    </button>
                                </div>

                                <div #sliders class="sliders">
                                    <div #volumeIcon id="vol"><i class="fa fa-volume-down"></i></div>
                                    <input #volumeSlider type="range" id="volume" name="volume" title="Change volume"
                                        class="player-slider" min="0" max="1" step="0.05" value="{{ volume }}" />

                                    <div #speedIcon class="speed"><i class="fa fa-fast-forward"></i></div>
                                    <input #speedSlider type="range" id="playbackRate" name="playbackRate" title="Change speed"
                                        class="player-slider" min="0.5" max="8" step="0.5" value="{{ playbackRate }}"/>
                                    <div #speedValue id="playbackRate_value">x{{ playbackRate }}</div>
                                </div>

                                <div #timeHolder class="time">00:00 / 00:00</div>

                                <button #fullScreenBtn id="full-screen" class="player-btn" title="Toggle FullScreen">
                                    <i class="fa fa-expand"></i>
                                </button>
                            </div>
                        </div>

                        <div class="top-info-holder">

                            <div class="title-views-section">
                              <h2 class="video-title"><span *ngIf="stat === 0">[PRIVATE]</span> <span id="vtitle">{{ title }}</span></h2>
                              <div class="views" id="visits">{{ visits }} views</div>

                              <button class="btn btn-secondary float-right m-1" (click)="changePageType()">Change view</button>
                              <button *ngIf="isAdmin || isOwner" class="btn btn-outline-danger float-right m-1" (click)="showEditPanel()">Edit</button>

                              <div #editPanel class="m-0" style="display: none;" *ngIf="isAdmin || isOwner">
                                <input #valueInput class="form-control float-right m-1" type="text" id="editValue" placeholder="Value to set when editing" />
                                <button class="btn btn-warning float-right m-1" (click)="deleteCurrentVideo()">Delete video</button>
                                <button class="btn btn-outline-secondary float-right m-1" (click)="editStat()">Edit stat</button>
                                <button class="btn btn-outline-primary float-right m-1" (click)="editTags(valueInput.value)">Edit tags</button>
                                <button class="btn btn-secondary float-right m-1" (click)="editDesc(valueInput.value)">Edit desc</button>
                                <button class="btn btn-primary float-right m-1 rounded-right" (click)="editTitle(valueInput.value)">Edit title</button>
                              </div>

                            </div>

                        </div>

                        <div class="info">
                            <div class="add-by">
                                <div class="avatar border-0"><a href="http://192.168.100.2:3000/imgs/av.jpg"><img class="rounded-circle border border-white" src="http://192.168.100.2:3000/imgs/av.jpg" /></a></div>
                                <div class="uploaded">
                                    <a href="#" id="author">{{ author }}</a>
                                    <p id="date">Added on 00.00.0000 at 00:00</p>
                                    <div #descriptionDiv class="desc">
                                      <span class="description">{{ description }}</span>
                                        <br><br><hr class="mt-4 mb-0 pb-2 border-secondary"><p class="pb-0 mb-0 text-white-50" style="font-size: 11px;">Tags:</p>
                                        <a *ngFor="let tag of tags" class="btn btn-sm btn-outline-info mr-1 my-1 px-1" [routerLink]="['/finder']" [queryParams]="{ q: tag, page: 1 }">{{ tag }}</a>
                                    </div>
                                    <a href="javascript:void(0)" id="sh_desc">Show more</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3 col-xl-2 ml-lg-auto ml-xl-0" *ngIf="similarVideos.length > 1 && pageType === 'classic'">
              <div class="row font-weight-light">

                <div *ngFor="let similarVideo of similarVideos.slice(0, similarOnPage)" class="col-12 mb-4 mg-md-2" title="Play: {{ similarVideo.title }}">
<!--                  <div class="card bg-secondary h-100">-->

                    <div class="card video h-100">
                      <a href="/player?vid={{ similarVideo.id }}">

                        <img src="http://192.168.100.2:3000/{{ similarVideo.cover }}" class="img-fluid">
                        <div class="movie-info">
                          <strong style="font-size: 12px; word-break: break-word;">{{ (similarVideo.title.length > 30 ? similarVideo.title.slice(0, 30) + '...' : similarVideo.title) }}</strong>
                          <span style="font-size: 11px; color: rgba(50,170,255,0.8)" title="Author">{{ similarVideo.author }}</span>
                        </div>

                      </a>
                    </div>

<!--                    <a href="/player?vid={{ similarVideo.id }}" class="text-light">-->
<!--                      <img src="http://192.168.100.2:3000/{{ similarVideo.cover }}" class="card-img-top" alt="{{ similarVideo.title }}" />-->
<!--                      <div class="card-body m-1 p-1"><p class="card-title m-1 p-1">{{ (similarVideo.title.length > 30 ? similarVideo.title.slice(0, 30) + '...' : similarVideo.title) }}</p></div>-->
<!--                    </a>-->
<!--                  </div>-->
                </div>

              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 col-xl-2 ml-lg-auto ml-xl-0" *ngIf="similarVideos.length > 1 && pageType === 'classic'">
              <div class="row mb-4 font-weight-light">

                <div *ngFor="let similarVideo of similarVideos.slice(similarOnPage, similarOnPage+similarOnPage)" class="col-12 mb-4 mg-md-2" title="Play: {{ similarVideo.title }}">
<!--                  <div class="card bg-secondary h-100">-->
<!--                    <a href="/player?vid={{ similarVideo.id }}" class="text-light">-->
<!--                      &lt;!&ndash;                    <a (click)="loadVideo(similarVideo._id)" class="text-light">&ndash;&gt;-->
<!--                      <img src="http://192.168.100.2:3000/{{ similarVideo.cover }}" class="card-img-top" alt="{{ similarVideo.title }}" />-->
<!--                      <div class="card-body m-1 p-1"><p class="card-title m-1 p-1">{{ (similarVideo.title.length > 30 ? similarVideo.title.slice(0, 30) + '...' : similarVideo.title) }}</p></div>-->
<!--                    </a>-->
<!--                  </div>-->

                  <div class="card video h-100">
                    <a href="/player?vid={{ similarVideo.id }}">

                      <img src="http://192.168.100.2:3000/{{ similarVideo.cover }}" class="img-fluid">
                      <div class="movie-info">
                        <strong style="font-size: 12px; word-break: break-word;">{{ (similarVideo.title.length > 30 ? similarVideo.title.slice(0, 30) + '...' : similarVideo.title) }}</strong>
                        <span style="font-size: 11px; color: rgba(50,170,255,0.8)" title="Author">{{ similarVideo.author }}</span>
                      </div>

                    </a>
                  </div>
                </div>

              </div>
            </div>


            <div class="col-12 col-lg-3 col-xl-5" *ngIf="similarVideos.length === 1 && pageType === 'classic' ">
              <div class="row mb-4">

                <div *ngFor="let similarVideo of similarVideos.slice(0, similarOnPage)" class="col-12 mb-4 mg-md-2" title="Play: {{ similarVideo.title }}">
<!--                  <div class="card bg-secondary h-100">-->
<!--                    <a href="/player?vid={{ similarVideo.id }}" class="text-light">-->
<!--                      <img src="http://192.168.100.2:3000/{{ similarVideo.cover }}" class="card-img-top" alt="{{ similarVideo.title }}" />-->
<!--                      <div class="card-body m-1 p-1"><p class="card-title m-1 p-1">{{ (similarVideo.title.length > 30 ? similarVideo.title.slice(0, 30) + '...' : similarVideo.title) }}</p></div>-->
<!--                    </a>-->
<!--                  </div>-->

                  <div class="card video h-100">
                    <a href="/player?vid={{ similarVideo.id }}">

                      <img src="http://192.168.100.2:3000/{{ similarVideo.cover }}" class="img-fluid">
                      <div class="movie-info">
                        <strong style="font-size: 12px; word-break: break-word;">{{ (similarVideo.title.length > 30 ? similarVideo.title.slice(0, 30) + '...' : similarVideo.title) }}</strong>
                        <span style="font-size: 11px; color: rgba(50,170,255,0.8)" title="Author">{{ similarVideo.author }}</span>
                      </div>

                    </a>
                  </div>
                </div>

              </div>
            </div>

        </div>

      <div class="row justify-content-md-center">
        <div class="col-12 col-lg-10 col-xl-9" *ngIf="pageType === 'big'">
          <div class="row mb-4 font-weight-light">

            <div *ngFor="let similarVideo of similarVideos.slice(0, similarOnPage)" class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4 mg-md-2" title="Play: {{ similarVideo.title }}">
<!--              <div class="card bg-secondary h-100">-->
<!--                <a href="/player?vid={{ similarVideo.id }}" class="text-light">-->
<!--                  &lt;!&ndash;                    <a (click)="loadVideo(similarVideo._id)" class="text-light">&ndash;&gt;-->
<!--                  <img src="http://192.168.100.2:3000/{{ similarVideo.cover }}" class="card-img-top" alt="{{ similarVideo.title }}" />-->
<!--                  <div class="card-body m-1 p-1"><p class="card-title m-1 p-1">{{ (similarVideo.title.length > 30 ? similarVideo.title.slice(0, 30) + '...' : similarVideo.title) }}</p></div>-->
<!--                </a>-->
<!--              </div>-->

              <div class="card video h-100">
                <a href="/player?vid={{ similarVideo.id }}">

                  <img src="http://192.168.100.2:3000/{{ similarVideo.cover }}" class="img-fluid">
                  <div class="movie-info">
                    <strong style="font-size: 12px; word-break: break-word;">{{ (similarVideo.title.length > 30 ? similarVideo.title.slice(0, 30) + '...' : similarVideo.title) }}</strong>
                    <span style="font-size: 11px; color: rgba(50,170,255,0.8)" title="Author">{{ similarVideo.author }}</span>
                  </div>

                </a>
              </div>
            </div>

            <div *ngFor="let similarVideo of similarVideos.slice(similarOnPage, similarOnPage+similarOnPage)" class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4 mg-md-2" title="Play: {{ similarVideo.title }}">
<!--              <div class="card bg-secondary h-100">-->
<!--                <a href="/player?vid={{ similarVideo.id }}" class="text-light">-->
<!--                  &lt;!&ndash;                    <a (click)="loadVideo(similarVideo._id)" class="text-light">&ndash;&gt;-->
<!--                  <img src="http://192.168.100.2:3000/{{ similarVideo.cover }}" class="card-img-top" alt="{{ similarVideo.title }}" />-->
<!--                  <div class="card-body m-1 p-1"><p class="card-title m-1 p-1">{{ (similarVideo.title.length > 30 ? similarVideo.title.slice(0, 30) + '...' : similarVideo.title) }}</p></div>-->
<!--                </a>-->
<!--              </div>-->
              <div class="card video h-100">
                <a href="/player?vid={{ similarVideo.id }}">

                  <img src="http://192.168.100.2:3000/{{ similarVideo.cover }}" class="img-fluid">
                  <div class="movie-info">
                    <strong style="font-size: 12px; word-break: break-word;">{{ (similarVideo.title.length > 30 ? similarVideo.title.slice(0, 30) + '...' : similarVideo.title) }}</strong>
                    <span style="font-size: 11px; color: rgba(50,170,255,0.8)" title="Author">{{ similarVideo.author }}</span>
                  </div>

                </a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="container" *ngIf="error !== null">
      <div class="alert alert-danger">{{ error }}</div>
    </div>
</div>
