<mat-progress-bar mode="indeterminate" color="warn" *ngIf="!videoReady"></mat-progress-bar>

<div class="content" *ngIf="videoLoaded | async">

  <div class="container">

    <div [ngClass]="(similarVideos.length === 0 && playlist === null ? 'noSimilarVideos' : '') + ' nVideo-section justify-content-md-center'">

      <div class="video-section">
        <app-video
          [video]="video"
          [list]="playlist"
          [similarVideos]="similarVideos"
          (videoReady)="videoReady = $event"
        ></app-video>

        <div class="top-info-holder">

          <div class="title-views-section">
            <h2 class="video-title"><span *ngIf="video['stat'] === 0">[PRIVATE] </span><span id="vtitle">{{ video['title'] }}</span></h2>
            <div class="d-flex">
              <div class="mr-auto" id="visits">{{ video['visits'] }} views</div>

              <div class="ml-auto d-flex">
                <a
                  (click)="openPlaylistActionsDialog()"
                  matTooltip="Save to playlist"
                  matTooltipPosition="above"
                >
                  <mat-icon class="yellow-text">star</mat-icon>
                </a>

                <a
                  *ngIf="isAdmin || isOwner"
                  class="ml-2 ml-md-3"
                  (click)="openEditVideoDialog(video)"
                  matTooltip="Edit video"
                  matTooltipPosition="above"
                >
                  <mat-icon color="accent">settings</mat-icon>
                </a>
              </div>

            </div>

          </div>

        </div>


        <div class="info">
          <div class="add-by">
            <div class="avatar"><a href="#"><img class="rounded-circle" src="{{ authorAvatar }}"  alt="Author's avatar"/></a></div>
            <div class="uploaded">
              <a href="#" id="author">{{ author }}</a>
              <p id="date">Added on {{ uploadDate }}</p>

              <div class="desc" [ngStyle]="fullDescription ? { 'height': 'auto' } : { 'height': '53px' }">
                <span class="description" style="white-space: pre-wrap;">{{ video['desc'] }}</span>
                <br><br><hr class="mt-4 mb-0 pb-2 border-light"><p class="pb-0 mb-0 text-white-50" style="font-size: 11px;">Tags:</p>
                <a *ngFor="let tag of video['tags']" mat-button class="indigo-text" [routerLink]="['/finder']" [queryParams]="{ q: tag }">{{ tag }}</a>
              </div>

              <a id="sh_desc" class="pt-2" (click)="fullDescription = !fullDescription">{{ (fullDescription ? 'Show less' : 'Show more') }}</a>

            </div>
          </div>
        </div>


        <app-comments
          [comments]="comments"
          [currentUser]="currentUser"
          [isAdmin]="isAdmin"
          [currentUserAvatar]="currentUserAvatar"
          [currentUserAvatarLoaded]="currentUserAvatarLoaded"
          [video]="video"
        ></app-comments>


      </div>


      <div class="next-video-section">

        <div class="options-section" *ngIf="playlist !== null || similarVideos.length > 0">
          <mat-slide-toggle
            class="example-margin"
            [checked]="autoPlayNext"
            (change)="onAutoPlayToggle($event)"
            [color]="color"
          >
            Autoplay next video
          </mat-slide-toggle>
        </div>

        <div class="selected-video-section" *ngIf="playlist === null && similarVideos.length > 0">
          <div [ngStyle]="autoPlayNext ? { 'background-color':'#69f0aaaa' } : {}" class="suggestedVideo" (click)="play(similarVideos[0]._id)" matTooltip="Play: {{ similarVideos[0].title }}" matTooltipPosition="before" matTooltipTouchGestures="auto">
            <div class="image-holder">
              <mat-spinner class="m-auto" *ngIf="!similarVideos[0].loaded" color="primary"></mat-spinner>
              <img [hidden]="!similarVideos[0].loaded" (load)="loadSimilarVideoThumb(similarVideos[0]._id)" [src]="baseUrl + '/videos/' + similarVideos[0]._id + '/poster?token=' + token" class="img-fluid" alt="{{ similarVideos[0].title }}">
            </div>
            <div class="similar-movie-info">
              <strong style="word-break: break-word;">{{ (similarVideos[0].title.length > 30 ? similarVideos[0].title.slice(0, 30) + '...' : similarVideos[0].title) }}</strong>
              <span style="font-size: 11px; color: rgba(50,170,255,0.8)" title="{{ similarVideos[0].visits }}">{{ similarVideos[0].visits }}</span>
            </div>
          </div>

          <button class="video-actions-menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Similar video actions">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openSaveSimilarVideoInPlaylist(similarVideos[0])">
              <span>Save in playlist</span>
            </button>
            <button mat-menu-item (click)="notInterested(similarVideos[0]._id)">
              <span>Remove from suggested</span>
            </button>
          </mat-menu>

        </div>

        <mat-spinner style="opacity: 0.5 !important;" *ngIf="playlist !== null && !(playlistLoaded | async)"></mat-spinner>
        <app-playlist
          class="playlist-section"
          *ngIf="playlistLoaded | async"
          [playlist]="playlist"
          [video]="video"
          [user]="currentUser"
          (playlistChange)="playlist = $event"
        ></app-playlist>

      </div>

      <hr class="my-2" *ngIf="similarVideos.length > 1">


      <div class="similar-videos-section" *ngIf="similarVideos.length > 1">

        <div class="font-weight-light">
          <div class="similar-container">

            <div class="position-relative" *ngFor="let similarVideo of similarVideos.slice(1, similarOnPage)" title="Play: {{ similarVideo.title }}">

              <div class="suggestedVideo" (click)="play(similarVideo._id)">

                <div class="image-holder">
                  <mat-spinner class="m-auto" *ngIf="!similarVideo.loaded" color="primary"></mat-spinner>
                  <img [hidden]="!similarVideo.loaded" (load)="loadSimilarVideoThumb(similarVideo._id)" [src]="baseUrl + '/videos/' + similarVideo._id + '/poster?token=' + token" class="img-fluid" alt="{{ similarVideo.title }}">
                </div>

                <div class="similar-movie-info">
                  <strong style="font-size: 12px; word-break: break-word;">{{ (similarVideo.title.length > 30 ? similarVideo.title.slice(0, 30) + '...' : similarVideo.title) }}</strong>
                  <span style="font-size: 11px; color: rgba(50,170,255,0.8)" title="{{ similarVideo.visits }}">{{ similarVideo.visits }}</span>
                </div>

              </div>

              <button class="video-actions-menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Similar video actions">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openSaveSimilarVideoInPlaylist(similarVideo)">
                  <span>Save in playlist</span>
                </button>
                <button mat-menu-item (click)="notInterested(similarVideo._id)">
                  <span>Remove from suggested</span>
                </button>
              </mat-menu>

            </div>

          </div>
        </div>

      </div>


    </div>

  </div>

  <div class="container" *ngIf="error !== null">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
</div>

<div class="container mt-4" *ngIf="error !== null && !(videoLoaded | async)">
  <div class="alert alert-danger">{{ error }}</div>
</div>
