html,body {
    word-wrap: break-word;
    height: 100%;
    overflow: auto;
}

.content {
    margin-top: 30px;
}

.logo {
    height: 25px;
    width: 25px;
    vertical-align: -19.5%;
}

#video {
    width: 100%;
    max-height: 100%;
    display: block;
}

#video:focus {
    outline: none;
}
.video-section {
    text-align: left;
}
#placeholder {
    display: none;
}

#load_more {
    font-size: 10px;
    text-align: center;
    cursor: default;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    #load_more {
        margin-bottom: 40px;
    }
}

.desc {
    height: 53px;
    overflow: hidden;
}
#sh_desc {
    letter-spacing: normal;
    color: rgba(130,130,130,0.6);
    margin: 0;
    font-weight: normal;
    font-size: 12px;
}
a.tag {
    color: rgba(255,255,255,0.7);
    font-weight: normal;
    letter-spacing: normal;
    font-size: 13px;
    padding: 2px;
    border: 1px solid;
    border-color: darkturquoise;
}




/* strona odtwarzania i inne */
.main-section {
    margin: 0 auto;
    width: 90%;
    display: flex;
}

.vid-com-section {
    width: 100%;
}

.video-section {
    width: 100%;
}

.video-title {
    padding: 10px 0 10px 0;
    font-size: 20px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 1024px) {
    .video-title {
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) {
    .video-title {
        font-size: 16px;
    }
}

.video-section .top-info-holder {
    border-bottom: 1px solid;
    border-bottom-color: rgba(100,100,100,0.5);
    padding-bottom: 15px;
}

.video-section .title-views-section {
    display: inline-block;
    width: 100%;
}

.video-section .votes {
    display: inline-flex;
    float: right;
}

.video-section .views {
    display: inline-flex;
}

.votes .th_up {
    display: inline-flex;
    margin: 0 10px 0 0;
    color: rgba(53, 230, 53, 0.9);
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}
.votes .th_up i {
    display: inline-flex;
    margin-left: 5px;
    color: rgba(53, 230, 53, 0.9);
    font-size: 25px;
    font-weight: bold;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .votes .th_up {
        font-size: 14px;
    }
    .votes .th_up i {
        font-size: 22px;
    }
}

.votes .th_down {
    display: inline-flex;
    margin: 0 0 0 10px;
    color: rgba(250, 57, 57, 0.9);
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}
.votes .th_down i {
    display: inline-flex;
    margin-right: 5px;
    color: rgba(250, 57, 57, 0.9);
    font-size: 25.49px;
    font-weight: bold;
    vertical-align: middle;
}
@media screen and (max-width: 768px) {
    .votes .th_down {
        font-size: 14px;
    }

    .votes .th_down i {
        font-size: 22.4px;
    }
}


.c_actions .c_th_up {
    display: inline-flex;
    margin: 0 7px 0 0;
    color: rgba(53, 230, 53, 0.9);
    font-size: 14px;
    vertical-align: middle;
}
.c_actions .c_th_up i {
    display: inline-flex;
    margin-left: 5px;
    color: rgba(53, 230, 53, 0.9);
    font-size: 20.6px;
    vertical-align: middle;
}
@media screen and (max-width: 768px) {
    .c_actions .c_th_up {
        font-size: 12px;
    }
    .c_actions .c_th_up i {
        font-size: 17px;
    }
}

.c_actions .c_th_down {
    display: inline-flex;
    margin: 0 7px 0 7px;
    color: rgba(250, 57, 57, 0.9);
    font-size: 14px;
    vertical-align: middle;
}
.c_actions .c_th_down i {
    display: inline-flex;
    margin-right: 5px;
    color: rgba(250, 57, 57, 0.9);
    font-size: 20.6px;
    vertical-align: middle;
}
@media screen and (max-width: 768px) {
    .c_actions .c_th_down {
        font-size: 12px;
    }
    .c_actions .c_th_down i {
        font-size: 17px;
    }
}

.votes .th_up:hover, .votes .th_down:hover, .c_actions .c_th_up:hover, .c_actions .c_th_down:hover {
    color: rgba(180, 156, 20, 0.801);
}

.video-section .info {
    padding: 20px 0 20px 0;
    vertical-align: middle;
}

.video-section .info .add-by {
    display: flex;
}

.video-section .info .add-by .avatar {
    margin-top: 0;
    width: 50px;
    height: 50px;
}

.video-section .info .add-by .avatar img {
    width: 50px;
    height: 50px;
}

.uploaded {
    width: 100%;
}

.uploaded #author {
    color: darkturquoise;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}


.uploaded p#date {
    color: rgba(138, 137, 137, 0.8);
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 12px;
}

.uploaded .desc {
    padding: 30px 0 0 0;
}


.avatar {
    width: 45px;
    vertical-align: bottom;
    margin-right: 15px;
    cursor: pointer;
}

.avatar img {
    margin: 0;
    padding: 0;
    height: 35px;
    width: 35px;
}

/* sekcja podobnych filmów podczas oglądania konkretnego */
.others-section {
    text-align: justify;
    width: 100%;
}

.others-section a {
    color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
.others-section a:hover {
    color: rgba(0, 0, 0, 0.856);
}

.others-section .latest {
    margin-bottom: 10px;
}

.others-section .header {
    display: none;
}

.others-section .thumbnail, .others-section .description, .others-section .hover {
    display: inline-block;
}

.others-section .thumbnail {
    width: 200px;
    height: 120px;
}

.others-section .description {
    max-width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    vertical-align: top;
    overflow: hidden;
}

.others-section .description p {
    font-size: 12px;
}

.others-section .description p.elem-title {
    font-size: 14px;
    padding: 0 0 5px 0;
}

.others-section .hover {
    width: 200px;
    height: 120px;
}

/* responsywność odtwarzacza wideo */
@media screen and (max-width: 768px) {
    .vid-com-section {
        width: 100%;
    }
    .others-section {
        margin-left: 0;
        width: 100%;
        border-top: 1px solid;
        border-top-color: rgba(100,100,100,0.5);
    }
    .main-section {
        margin: 0 auto;
        width: 90%;
        display: block;
    }

    .others-section .latest {
        margin-bottom: 40px;
    }
    .others-section .thumbnail {
        width: 100%;
        height: 200px;
    }
    .others-section .description {
        max-width: 100%;
        margin-left: 0;
    }
    .others-section .description p {
        font-size: 14px;
    }
    .others-section .description p.elem-title {
        font-size: 16px;
        padding: 10px 0 10px 0;
    }
    .others-section .hover {
        width: 100%;
        height: 200px;
    }
    .others-section .header {
        display: block;
        margin: 20px 0 20px 0;
        font-weight: bold;
        font-size: 20px;
    }
}

#vol {
    width: 45px;
}



.video-section {
  grid-area: video;
}

.similar-videos-section {
  grid-area: similar;
}

.next-video-section {
  grid-area: next_video;
}

/*.comment-section {*/
/*  grid-area: comments;*/
/*}*/

.nVideo-section {
  display: grid;
  grid-template-areas:
    'video'
    'next_video'
    'similar'
    ;
  grid-gap: 20px;
}

@media screen and (min-width: 992px) {
  .nVideo-section {
    grid-template-columns: 4fr 2fr;
    grid-template-areas:
    'video next_video'
    'video similar';
  }
}



.options-section {
  grid-area: os;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.selected-video-section {
  grid-area: svs;
  position: relative;
}

.playlist-section {
  grid-area: pl;
}

.next-video-section {
  display: grid;
  grid-template-areas:
    'os'
    'svs'
    'pl';
  grid-gap: 20px;
  font-weight: 400;
}

@media screen and (min-width: 992px) {
  .next-video-section {
    grid-template-columns: 2fr;
    grid-template-areas:
    'os os'
    'svs svs'
    'pl pl';
  }
}

@media screen and (min-width: 1200px) {
  .next-video-section {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    'os svs svs'
    'pl pl pl';
  }
}


.next-video-section .suggestedVideo {
  background-color: rgba(154,154,154,0.7);
}

.next-video-section .suggestedVideo .similar-movie-info {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

/*.next-video-section span {*/
/*  background-color: rgba(200,200,200,1) !important;*/
/*  color: #22254b !important;*/
/*}*/



/* NEW OTHERS */
.suggestedVideo {
  height: auto !important;
  /*background-color: #373b69;*/
  border-radius: 3px;
  /*box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);*/
  overflow: hidden;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.suggestedVideo video {
  width: 100%;
}

.suggestedVideo .image-holder {
  overflow: hidden;
}

/*.suggestedVideo:hover img {*/
/*  transform: scale(1.5);*/
/*  transition-duration: 3s;*/
/*}*/

.suggestedVideo img {
  position: relative;
  z-index: -1;
  width: 100%;
}

.similar-movie-info {
  color: #eee;
  /*display: flex;*/
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  letter-spacing: 1px;
  backface-visibility: hidden;
}

.similar-movie-info h3 {
  margin: 0;
}

.similar-movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}
.similar-movie-info span.green {
  color: rgb(39, 189, 39);
}

.similar-movie-info span.orange {
  color: orange;
}

.similar-movie-info span.red {
  color: rgb(189, 42, 42);
}

.menu-on-hover:hover .video-actions-menu {
  opacity: 1;
}

.similar-movie-info p.views-row {
  margin-bottom: 0;
  color: rgba(255,255,255,0.75);
  font-size: 12px;
}

.similar-container {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  margin-bottom: 25px;
}

/*@media screen and (min-width: 1200px) {*/
/*  .similar-container {*/
/*    grid-template-columns: repeat(2,1fr);*/
/*  }*/
/*}*/

@media screen and (min-width: 480px) {
  .similar-container {
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (min-width: 768px) {
  .similar-container {
    grid-template-columns: repeat(3,1fr);
  }
}

@media screen and (min-width: 992px) {
  .similar-container {
    grid-template-columns: repeat(1,1fr);
  }
}

@media screen and (min-width: 1200px) {
  .similar-container {
    grid-template-columns: repeat(2,1fr);
  }
}

.noSimilarVideos {
  display: unset !important;
}

.video-actions-menu {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  margin: 3px;
  /*transition-duration: .3s;*/
  opacity: 0;
  transition: opacity .2s ease;
}
.video-actions-menu:hover, .video-actions-menu:focus {
  background-color: rgba(150,20,100,0.9);
}


#thumbnail {
  position: absolute;
  top: 0;
  left: 0;
}
