<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark rgba-pink-light" [containerInside]="true">

  <mdb-navbar-brand><a class="logo navbar-brand" [routerLink]="['/']">WatchMe</a></mdb-navbar-brand>

  <links>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn && !(isSearch | async)">
      <li class="nav-item">
        <form [formGroup]="searchInput" #form class="form-inline mr-auto md-form m-0 p-0" [action]="['/finder']" enctype="multipart/form-data">
          <input id="search-nav-input" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q" formControlName="search" required>
          <button mdbBtn size="sm" color="elegant" rounded="true" (click)="form.submit()" class="ml-0 mb-0 waves-light mt-sm-1 ml-md-2 mt-lg-0" mdbWavesEffect type="submit">Search</button>
        </form>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">

      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link waves-light" [routerLink]="['/uploadVideo']" mdbWavesEffect><mat-icon [inline]="true">upload</mat-icon> Upload</a>
      </li>

      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link waves-light" mdbWavesEffect><mat-icon [inline]="true">settings</mat-icon> Settings</a>
      </li>

      <li class="nav-item dropdown" dropdown *ngIf="isLoggedIn">
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
          <mat-icon [inline]="true">manage_accounts</mat-icon>
          {{ username }}<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item" [routerLink]="['/profile']">My profile</a>
          <a class="dropdown-item" [routerLink]="['/activity']" [queryParams]="{ page: 0 }">My activity</a>
          <a (click)="logout()" class="dropdown-item" href="#">Log out</a>
        </div>
      </li>

      <li class="nav-item" *ngIf="!isLoggedIn && !(isLogging | async)">
        <a [routerLink]="['/login']" class="nav-link waves-light" mdbWavesEffect href="#"><mat-icon [inline]="true">login</mat-icon> Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect><mat-icon [inline]="true">info</mat-icon> Contact</a>
      </li>

    </ul>
  </links>

</mdb-navbar>
