<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">WatchMe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleCollapsed()" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/videos']">Videos</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/finder']"><i class="fas fa-search"></i> Advanced search</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/uploadVideo']">Upload</a>
        </li>
      </ul>

      <form *ngIf="isLoggedIn" #form class="form-inline my-2 my-lg-0" [action]="['/finder']" enctype="multipart/form-data">
<!--        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">-->
        <mat-form-field class="mr-sm-2" appearance="fill">
          <mat-label>Search query</mat-label>
          <input type="text"
                 name="q"
                 placeholder="Search query"
                 aria-label="Search query"
                 matInput
                 [formControl]="searchControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredSearchOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <input type="hidden" name="page" value="1" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="form.submit()">Search</button>
      </form>


      <a mat-icon-button class="ml-lg-4" [matMenuTriggerFor]="menu" aria-label="Client menu">
        <mat-icon>settings</mat-icon>
      </a>
      <mat-menu #menu="matMenu">
        <a *ngIf="isLoggedIn" mat-menu-item>
          <mat-icon>home_work</mat-icon>
          <span>User Panel</span>
        </a>

        <a *ngIf="isLoggedIn" mat-menu-item (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </a>
        <a *ngIf="!isLoggedIn" mat-menu-item [routerLink]="['/login']">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </a>
      </mat-menu>

    </div>
  </div>
</nav>
