<mat-progress-bar mode="indeterminate" color="warn" *ngIf="!(dataLoaded | async)"></mat-progress-bar>

<div class="container py-4">
  <div *ngIf="dataLoaded | async">
    <h1 class="pb-2 text-center">Your videos watching history</h1>


    <div class="videos">
      <mat-card [id]="video._id" class="history-video-card" *ngFor="let video of videosOnPage">
        <mat-card-header>
          <mat-card-title>{{ video['title'] }}</mat-card-title>
          <mat-card-subtitle>Watched on {{ video['viewDate'] }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="BASE_URL + VIDEOS_URL + '/' + video['_id'] + '/poster?token=' + token" [alt]="video['title'] + ' cover image'">
        <mat-card-content>
          <p>
            {{ video['desc'] }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="accent" (click)="play(video['_id'])">PLAY</button>
          <button *ngIf="isAdmin" mat-stroked-button color="warn" (click)="delete(video['_id'])">DELETE FROM HISTORY</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <mat-paginator
    class="mt-2"
    color="accent"
    [showFirstLastButtons]="true"
    [length]="videosLength"
    [pageSize]="videosPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = handlePage($event)"
    [pageIndex]="currentPage"
  >
  </mat-paginator>
</div>
