/** NEW COMMENT SYSTEM **/
.comment-section {
  padding-top: 20px;
  text-align: left;
  width: 100%;
  border-top: 1px solid;
  border-top-color: rgba(100,100,100,0.5);
}

.comment-section .comment-header {
  letter-spacing: 1px;
}

.comment-input {
  min-height: 75px;
  width: 100%;
}

.comment-author {
  font-size: 15px;
}

.comment-message {
  font-size: 14px;
}

.media {
  margin-bottom: 30px;
}

.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}

.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

/*.comment-input {*/
/*  min-height: 20px;*/
/*  width: 100%;*/
/*  margin-bottom: 10px;*/
/*}*/

.comment-form-actions {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: right;
  justify-items: right;
}

/*.comment-section-av {*/
/*  width: 70px;*/
/*  height: 70px;*/
/*  background-repeat: no-repeat;*/
/*  background-size: 70px;*/
/*  background-position: center;*/
/*}*/

.avatar {
  width: 45px;
  height: 45px;
  vertical-align: bottom;
  margin-right: 15px;
  cursor: pointer;
}

.avatar img {
  margin: 0;
  padding: 0;
  height: 35px;
  width: 35px;
}
