<div class="comment-section" [ngStyle]="{ 'display': timeoutEnded ? '' : 'none;' }">
  <h3>Comments</h3>

  <div class="media mt-3 shadow-textarea mb-4">
    <mat-spinner [diameter]="40" *ngIf="!currentUserAvatarLoaded" class="mr-3 mt-1" title="Loading current user avatar"></mat-spinner>
    <img
      *ngIf="currentUserAvatarLoaded"
      [src]="currentUserAvatar.src"
      id="avatar"
      class="d-flex rounded-circle avatar z-depth-1-half mr-3 mt-1"
      alt="Current user avatar"
    >
    <div class="media-body">
      <form [formGroup]="commentForm" (ngSubmit)="addComment()" class="form-group rounded-corners" enctype="multipart/form-data">

        <mat-form-field class="w-100" color="accent" appearance="outline">
          <mat-label>Write new comment here (min. 5 signs)</mat-label>
          <textarea matInput #commentInput name="text" formControlName="text" type="text" minlength="5" maxlength="500" class="comment-input"></textarea>
          <mat-hint align="end">{{commentInput.value.length}} / 500</mat-hint>
        </mat-form-field>

        <div class="comment-form-actions">
          <button mat-raised-button color="accent" class="mt-1" [disabled]="commentForm.invalid">Add</button>
        </div>
      </form>
    </div>
  </div>

  <div class="comments" *ngIf="comments.length > 0">
    <div *ngFor="let comment of comments" class="media">
      <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="{{ comment.author.avatar }}"
           alt="{{ comment.author.avatar }}s' avatar">
      <div class="media-body">
        <h5 class="mt-0 mb-1 font-weight-bold blue-text comment-author">{{ comment.author.username }}</h5>
        <p class="comment-message" style="white-space: pre;">{{ comment.text }}</p>
      </div>

      <button *ngIf="comment.author.username === currentUser || isAdmin" mat-icon-button [matMenuTriggerFor]="commentMenu" aria-label="Video actions" #menuTrigger>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #commentMenu="matMenu">
        <button mat-menu-item (click)="openEditCommentDialog(comment)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteComment(comment._id)">
          <mat-icon>delete_forever</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <h4 *ngIf="comments.length === 0">No comments</h4>

</div>
