.upload-page {
  max-width: 720px;
  padding: 8% 0;
  margin: auto;
}

.form {
  position: relative;
  width: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.5);
  max-width: 720px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 3px;
}

.drop-zone {
  height: 300px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.text-inputs textarea {
  min-height: 70px;
}


mat-progress-bar {
  height: 50px;
}




/* NEW OTHERS */
.suggestedVideo {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.suggestedVideo video {
  width: 100%;
}

.suggestedVideo img {
  position: relative;
  z-index: -1;
  width: 100%;
}

.upload-movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  letter-spacing: 0.5px;
  backface-visibility: hidden;
}

.upload-movie-info h3 {
  margin: 0;
}

.upload-movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}
.upload-movie-info span.green {
  color: rgb(39, 189, 39);
}

.upload-movie-info span.orange {
  color: orange;
}

.upload-movie-info span.red {
  color: rgb(189, 42, 42);
}

.suggestedVideo:hover {
  transition-duration: .2s;
  background: rgba(50,100,200,0.8);
}

.newVideo {
  height: 100%;
}

@media screen and (min-width: 992px) {
  .newVideo {
    height: 50%;
  }
}

