<div class="container-fluid">
  <div class="upload-page">
    <div class="form">
      <div class="form-header mb-4">
        <h1>Upload new video</h1>
      </div>

      <div #DRAG_SECTION class="form-body pt-2">
        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

          <div class="drop-zone mb-4">
            <span class="drop-zone__prompt">Drop file here or click to upload</span>
            <input type="file" class="drop-zone__input" accept="video/mp4" required />
          </div>

          <div class="text-inputs" style="display: none;" *ngIf="!uploadResponse">
            <mat-form-field class="w-100" color="accent" appearance="outline">
              <mat-label>Video title (min. 10 signs)</mat-label>
              <input matInput #videoTitle name="title" formControlName="title" type="text" minlength="10" maxlength="200">
              <mat-hint align="end">{{videoTitle.value.length}} / 200</mat-hint>
            </mat-form-field>

            <mat-form-field class="w-100" color="accent" appearance="outline">
              <mat-label>Video description (min. 10 signs)</mat-label>
              <textarea matInput #videoDescription name="desc" formControlName="desc" type="text" minlength="10" maxlength="600"></textarea>
              <mat-hint align="end">{{videoDescription.value.length}} / 600</mat-hint>
            </mat-form-field>

            <mat-form-field color="accent" appearance="outline" class="w-100">
              <mat-label>Tags</mat-label>
              <mat-chip-list #chipList aria-label="Tags selection">
                <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                          [removable]="removable" (removed)="remove(tag)">
                  {{tag}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Add tag..."
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)"
                name="tags"
                formControlName="tags">
              </mat-chip-list>
            </mat-form-field>

            <button type="submit" class="btn btn-outline-primary" [disabled]="uploadForm.invalid">Upload</button>
          </div>

        </form>
      </div>


      <div #ERROR class="alert alert-danger mx-2" *ngIf="error">
        <a href="javascript:void(0)" class="close" (click)="ERROR.style.display = 'none'" aria-label="close">&times;</a>
        <p class="p-0 m-0">{{ error }}</p>
      </div>

      <div #UPLOAD_ERROR class="alert alert-danger mx-2" *ngIf="uploadResponse && uploadResponse['status'] && uploadResponse['status'] === 'error'">
        <a href="javascript:void(0)" class="close" (click)="UPLOAD_ERROR.style.display = 'none'" aria-label="close">&times;</a>
        <p class="p-0 m-0">{{ uploadResponse['message'] }}</p>
      </div>



      <a class="text-left newVideo" *ngIf="uploadResponse && uploadResponse['uploaded']" [routerLink]="['/player']" [queryParams]="{vid: uploadResponse['video']._id}">
        <div class="suggestedVideo h-100" [title]="uploadResponse['video'].title">
          <div class="preview text-center">

            <img *ngIf="newImageLoaded | async" id="newVideoThumbnail"
              class="img-fluid prev"
              alt="{{ uploadResponse['video'].title }}" src="">

            <mat-spinner class="my-3 mx-auto" color="accent" *ngIf="!(newImageLoaded | async)"></mat-spinner>

          </div>
          <div class="upload-movie-info">
            <strong style="font-size: 12px; word-break: break-word;">{{ (uploadResponse['video'].title.length > 30 ? uploadResponse['video'].title.slice(0, 30) + '...' : uploadResponse['video'].title) }}</strong>
          </div>
        </div>
      </a>


      <div #SUCCESS class="alert alert-success mx-2 mt-2" *ngIf="uploadResponse && uploadResponse['uploaded']">
        <a href="javascript:void(0)" class="close" (click)="SUCCESS.style.display = 'none'" aria-label="close">&times;</a>
        <p class="p-0 m-0">Video <strong>{{ uploadResponse['video'].title }}</strong> successfully uploaded!</p>
      </div>

      <div class="text-center" *ngIf="uploadResponse && uploadResponse['uploaded']">
        <button mat-stroked-button class="rgba-pink-light text-uppercase" style="font-size: 18px; padding: 6px 12px; margin-top: 10px;" onclick="window.location.reload();">Upload another video</button>
      </div>

      <div *ngIf="uploadResponse && uploadResponse['status'] && uploadResponse['status'] === 'progress'" class="mx-2">
        <div *ngIf="uploadResponse['message'] < 100">
          <mat-progress-bar style="height: 50px !important;" [value]="uploadResponse['message']"></mat-progress-bar>{{ uploadResponse['message'] }}%
        </div>

        <div class="alert alert-warning text-center" *ngIf="uploadResponse['message'] === 100">
          Encoding in progress... Don't close this page!
          <mat-spinner class="ml-auto mr-auto mt-2" color="accent" mode="indeterminate"></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
