<h1 class="mb-1" mat-dialog-title>Save video</h1>
<div mat-dialog-content>

<!--  <form [formGroup]="saveVideoInForm" enctype="multipart/form-data">-->
<!--    <mat-form-field appearance="fill" color="accent">-->
<!--      <mat-label>Choose playlist</mat-label>-->
<!--      <mat-select formControlName="playlist">-->
<!--        <mat-option [value]="playlist['_id']" *ngFor="let playlist of playlists">{{ playlist['name'] }}</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

<!--    <button mat-stroked-button class="ml-2" [disabled]="saveVideoInForm.invalid" (click)="onSaveVideoInPlaylistSubmit()">Save</button>-->
<!--  </form>-->

  <mat-selection-list #selectPlaylists (selectionChange)="saveVideoInPlaylist($event)">
    <mat-list-option *ngFor="let playlist of playlists" [selected]="!!playlist['hasCurrentVideo']" [value]="playlist['_id']">
      {{ playlist['name'] }}
    </mat-list-option>
  </mat-selection-list>


  <mat-divider class="mb-3"></mat-divider>

  <div class="d-md-flex">
<!--    <button mat-button (click)="createNamedPlaylist()"></button>-->
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="mr-2">add_to_queue</mat-icon> new named playlist
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="createNamedPlaylistForm">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput #name maxlength="50" placeholder="Type here new playlist name...">
          <mat-hint align="start">Set logic name.</mat-hint>
          <mat-hint align="end">{{name.value.length}} / 50</mat-hint>
        </mat-form-field>

        <mat-checkbox
          class="ml-2"
          formControlName="isPrivate"
        >
          Private
        </mat-checkbox>

        <button mat-stroked-button color="accent" class="w-100 mt-2" [disabled]="createNamedPlaylistForm.invalid" (click)="createNamedPlaylist()">Create</button>
      </form>
    </mat-expansion-panel>

    <button class="mt-3 mt-md-0" mat-button (click)="createAutoPlaylist()"><mat-icon class="mr-2">add_to_queue</mat-icon> new auto playlist</button>
  </div>

</div>
