<h1 mat-dialog-title class="mt-0 pt-0">Create repository</h1>

<form class="register-form" [formGroup]="createRepoForm" enctype="multipart/form-data">

  <div mat-dialog-content>
    <p>Type short information about your new repository.</p>

    <mat-form-field color="accent" appearance="outline">
      <mat-label>Repo name</mat-label>
      <input matInput name="repoName" formControlName="repoName" type="text">
    </mat-form-field>

  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [disabled]="createRepoForm.invalid" (click)="onCreateRepoSubmit()">Create</button>
  </div>

</form>
