<div *ngIf="playlist !== null">

  <mat-expansion-panel [expanded]="playlistPanelState" (opened)="openPlaylistPanel()" (closed)="closePlaylistPanel()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon style="vertical-align: middle; font-size: 30px; width: 30px; height: 30px;">playlist_play</mat-icon>
        <span class="ml-2 my-auto">{{ playlist['name'] }} <span *ngIf="playlist['author'] !== user" class="text-muted">by {{ playlist['author'] }}</span></span>
        <mat-icon
          *ngIf="playlist['isPrivate']"
          class="ml-1 my-auto"
          style="color: rgba(255,255,255,0.7); font-size: 20px; width: 20px; height: 20px;"
          title="Private"
        >lock</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon (click)="close()" style="vertical-align: middle;" class="ml-auto my-auto playlist-close" title="Exit playlist">close</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-selection-list id="playlistVideos" style="max-height: 420px; overflow: auto;" #videos [multiple]="false">
      <mat-list-option *ngFor="let playlistVideo of playlist['videos']; index as i" (click)="open(i)" [id]="playlistVideo['_id']">
        <div class="playlist-item">
          <div class="item-number">
            <mat-icon *ngIf="playlistVideo['_id'] === video['_id']">play_arrow</mat-icon>
            <span *ngIf="playlistVideo['_id'] !== video['_id']">{{ (i+1) }}</span>
          </div>

          <div class="item-cover">
            <img class="item-cover-image img-fluid" [src]="baseUrl + '/videos/' + playlistVideo['_id'] + '/poster'" [alt]="playlistVideo['title'] + ' cover image'">
          </div>

          <div class="item-title">
            {{ playlistVideo['title'] }}
          </div>
        </div>
      </mat-list-option>
      <mat-list-item *ngIf="playlist['videos'].length === 0"><div class="alert alert-warning w-100">This playlist is empty.</div></mat-list-item>
    </mat-selection-list>


<!--    <mat-grid-list cols="5" rowHeight="120px">-->
<!--      <a class="playlist-item" *ngFor="let video of playlist['videos']" [href]="'/player?vid=' + video['_id'] + '&list=' + playlist['_id']">-->
<!--        <mat-grid-tile-->
<!--          [colspan]="2"-->
<!--          [rowspan]="1"-->
<!--        >-->
<!--          <img class="img-fluid mr-4" [src]="baseUrl + '/' + video['cover']" [alt]="video['title'] + ' cover image'">-->
<!--        </mat-grid-tile>-->
<!--        <mat-grid-tile-->
<!--          [colspan]="3"-->
<!--          [rowspan]="1"-->
<!--        >-->
<!--          {{ video['title'] }}-->
<!--        </mat-grid-tile>-->
<!--      </a>-->
<!--    </mat-grid-list>-->

  </mat-expansion-panel>

</div>
