.mat-list-item {
  height: auto !important;
}

.item-number {
  grid-area: itmn;
  color: rgba(255,255,255,0.7);
  font-size: 13px;
}

.item-cover {
  grid-area: ic;
  text-align: center;
}

.item-cover-image {
  max-height: 105px;
}

.item-title {
  grid-area: it;
  font-size: 14px;
  color: rgba(255,255,255,0.8);
}

.playlist-item {
  min-height: 115px;
  display: grid;
  grid-template-columns: 0.1fr 2fr 2fr;
  grid-template-areas:
    'itmn ic it';
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

@media screen and (min-width: 768px) {
  .playlist-item {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.playlist-close:hover {
  transition-duration: .2s;
  color: rgba(255,0,100,0.8);
}


::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.8);
  border-radius: 10px;
}
