<app-public-profile *ngIf="!(currentUser | async)" [uid]="uid" [currentUser]="currentUserData"></app-public-profile>

<div *ngIf="(currentUser | async) && uid == ''">

  <mat-progress-bar mode="indeterminate" color="warn" *ngIf="!(dataLoaded | async)"></mat-progress-bar>
  <div class="container my-2" *ngIf="dataLoaded | async">

    <div class="profile-header ml-2 mb-2 mt-4">
      <img (click)="showPublicProfile()" class="header-avatar rounded-circle" src="{{ avatar }}" alt="Avatar">

      <div class="user-meta">
        <h2 class="header-username">{{ username }}</h2>
        <p class="header-description">{{ (userType === 'system' ? 'WatchMe registered user' : 'GitHub authorized user') }}</p>
      </div>

    </div>

    <mat-tab-group class="my-4" animationDuration="0ms">
      <mat-tab label="Information">

        <mat-card class="mt-4" *ngIf="userType === 'github'">
          <h3 class="text-monospace text-muted">Name: <span class="text-white">{{ currentUserData['name'] === null ? 'not assigned' : currentUserData['name'] }}</span></h3>
          <mat-divider></mat-divider>
          <h3 class="text-monospace text-muted pt-3">E-mail address: <span class="text-white">{{ currentUserData['email'] === null ? 'not assigned' : currentUserData['email'] }}</span></h3>
          <mat-divider></mat-divider>
          <h3 class="text-monospace text-muted pt-3">Bio: <br /><span class="text-white">{{ currentUserData['bio'] === null ? 'not assigned' : currentUserData['bio'] }}</span></h3>
          <mat-divider></mat-divider>
          <h3 class="text-monospace text-muted pt-3">Private repos: <span class="text-white">{{ currentUserData['total_private_repos'] }}</span></h3>
          <mat-divider></mat-divider>
          <h3 class="text-monospace text-muted pt-3">Public repos: <span class="text-white">{{ currentUserData['public_repos'] }}</span></h3>
          <mat-divider></mat-divider>
          <h3 class="text-monospace text-muted pt-3">Last login: <span class="text-white">{{ currentUserData['lastLoginDate'] }}</span></h3>
          <mat-divider></mat-divider>
          <h3 class="text-monospace text-muted pt-3">Registered in GitHub at: <span class="text-white">{{ currentUserData['created_at'] }}</span></h3>
        </mat-card>

        <mat-card class="mt-4" *ngIf="userType === 'system'">
          <h3 class="text-monospace text-muted">Name: <span class="text-white">{{ currentUserData['username'] }}</span></h3>
          <mat-divider></mat-divider>
          <h3 class="text-monospace text-muted pt-3">E-mail address: <span class="text-white">{{ currentUserData['email'] === null ? 'not assigned' : currentUserData['email'] }}</span></h3>
          <mat-divider></mat-divider>
          <h3 class="text-monospace text-muted pt-3">Last login: <span class="text-white">{{ currentUserData['lastLoginDate'] }}</span></h3>
          <mat-divider></mat-divider>
          <h3 class="text-monospace text-muted pt-3">Registered at: <span class="text-white">{{ currentUserData['registerDate'] }}</span></h3>
          <!--        <h3 class="text-monospace text-muted">About: <p class="text-white">{{ currentUserData['about'] === null ? 'not set' : currentUserData['about'] }}</p></h3>-->
          <!--        <h3 class="text-monospace text-muted">Registered at: <strong class="text-white">{{ currentUserData['lastLoginDate'] }}</strong></h3>-->
        </mat-card>

      </mat-tab>



      <mat-tab label="Videos">

        <h2 class="mt-4">Your videos ({{ currentUserVideos.length }})</h2>

        <div class="alert alert-warning my-3" *ngIf="currentUserVideos.length === 0">
          You don't have any uploaded videos! Maybe <a [routerLink]="['/uploadVideo']">upload</a> something special?
        </div>

        <mat-card class="mt-0" *ngIf="currentUserVideos.length > 0">

          <mat-card-content class="user-videos">
            <div class="text-left h-100" *ngFor="let video of videosOnPage">
              <div class="user-video h-100 rgba-pink-light" [title]="video['title']">

                <a class="video-link" [routerLink]="['/player']" [queryParams]="{vid: video['_id']}"></a>
                <img
                  [src]="baseUrl + '/videos/' + video['_id'] + '/poster?token=' + token"
                  class="img-fluid"
                  alt="{{ video['title'] }}"
                >

                <div class="user-video-info">
                  <strong style="font-size: 12px; word-break: break-word;">{{ (video['title'].length > 30 ? video['title'].slice(0, 30) + '...' : video['title']) }}</strong>

                  <button class="video-actions-menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Video actions" #menuTrigger>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openSaveVideoInPlaylistDialog(video)">
                      <mat-icon>star</mat-icon>
                      <span>Save in playlist</span>
                    </button>
                    <button mat-menu-item (click)="openEditVideoDialog(video)">
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="openDeleteVideoDialog(video)">
                      <mat-icon>delete_forever</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                </div>

              </div>
            </div>
          </mat-card-content>


          <mat-card-footer class="w-100">
            <mat-paginator
              color="accent"
              [showFirstLastButtons]="true"
              [length]="videosLength"
              [pageSize]="videosPerPage"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = handlePage($event)"
              [pageIndex]="currentPage"
            >
            </mat-paginator>
          </mat-card-footer>

        </mat-card>

      </mat-tab>



      <mat-tab label="Playlists">

        <div class="py-2">
          <div class="m-0 mr-2 mt-auto mb-auto" *ngIf="currentUserPlaylists.length > 0">
            <button mat-raised-button color="primary" (click)="openCreatePlaylistDialog()" type="submit">Create playlist</button>
          </div>

          <div class="alert alert-warning mt-3 mr-2 w-100 d-flex" *ngIf="currentUserPlaylists.length === 0">
            <p class="mt-auto mb-auto">You don't have any playlists! Maybe create new one?</p>
            <div class="m-0 ml-auto mt-auto mb-auto">
              <button mat-raised-button color="primary" (click)="openCreatePlaylistDialog()" type="submit">Create playlist</button>
            </div>
          </div>
        </div>

        <div *ngIf="currentUserPlaylists.length > 0" class="playlists-table-holder mat-elevation-z8">

          <table
            mat-table
            [dataSource]="playlistsDataSource"
            multiTemplateDataRows
            class="w-100"
            style="border-collapse: separate;"
          >
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let playlist">{{ playlist['name'] }}</td>
            </ng-container>

            <ng-container matColumnDef="videos">
              <th mat-header-cell *matHeaderCellDef>Videos count</th>
              <td mat-cell *matCellDef="let playlist">{{ playlist['videos'].length }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Private</th>
              <td mat-cell *matCellDef="let playlist">{{ (playlist['isPrivate'] ? 'Yes' : 'No') }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let playlist">
                <a (click)="openEditPlaylistDialog(playlist)">
                  <mat-icon>settings</mat-icon>
                </a>
              </td>
            </ng-container>

            <!--          <ng-container matColumnDef="play">-->
            <!--            <th mat-header-cell *matHeaderCellDef>Link</th>-->
            <!--            <td mat-cell *matCellDef="let playlist">-->
            <!--              <a [href]="'/player?vid=' + playlist['videos'][0]['_id'] + '&list=' + playlist['_id']">-->
            <!--                <mat-icon>play_arrow</mat-icon>-->
            <!--              </a>-->
            <!--            </td>-->
            <!--          </ng-container>-->

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let playlist" [attr.colspan]="playlistsDisplayedColumns.length">
                <div class="example-element-detail" [@detailExpand]="playlist == expandedElement ? 'expanded' : 'collapsed'">

                  <mat-selection-list class="mb-2 w-100" [multiple]="false">
                    <mat-list-option *ngFor="let video of playlist['videos']">
                      <div class="playlist-item">
                        <div class="item-cover" (click)="playFromPlaylist(video['_id'], playlist['_id'])" matTooltip="Click to play {{ video['title'] }}" matTooltipPosition="right">
                          <img class="img-fluid" [src]="baseUrl + '/videos/' + video['_id'] + '/poster?token=' + token" [alt]="video['title'] + ' cover image'">
                        </div>
                        <div class="item-title">
                          {{ video['title'] }}
                        </div>
                        <div class="ml-auto delete-item" (click)="deleteVideoFromPlaylist(playlist['_id'], video['_id'])">
                          <mat-icon style="vertical-align: middle;" class="ml-auto my-auto" title="Delete video from playlist">close</mat-icon>
                        </div>
                      </div>
                    </mat-list-option>
                  </mat-selection-list>

                  <!--                <div class="example-element-diagram">-->
                  <!--                  <div class="example-element-cover">-->
                  <!--                    <img class="example-cover" [src]="baseUrl + '/' + playlist['videos'][0]['cover']" [alt]="playlist['videos'][0]['title'] + ' cover image'">-->
                  <!--                  </div>-->
                  <!--                </div>-->
                  <!--                <div class="example-element-description">-->
                  <!--                  {{ playlist['videos'][0]['title'] }}-->
                  <!--                  <span class="example-element-description-attribution"> &#45;&#45; first video inside </span>-->
                  <!--                </div>-->
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="playlistsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: playlistsDisplayedColumns;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          </table>


          <!--        <table class="w-100" mat-table [dataSource]="playlistsDataSource">-->

          <!--          <ng-container matColumnDef="name">-->
          <!--            <th mat-header-cell *matHeaderCellDef>Name</th>-->
          <!--            <td mat-cell *matCellDef="let playlist">{{ playlist.name }}</td>-->
          <!--          </ng-container>-->

          <!--          <ng-container matColumnDef="status">-->
          <!--            <th mat-header-cell *matHeaderCellDef>Private</th>-->
          <!--            <td mat-cell *matCellDef="let playlist">{{ (playlist['isPrivate'] ? 'Yes' : 'No') }}</td>-->
          <!--          </ng-container>-->

          <!--          <ng-container matColumnDef="videos">-->
          <!--            <th mat-header-cell *matHeaderCellDef>Videos count</th>-->
          <!--            <td mat-cell *matCellDef="let playlist">{{ playlist['videos'].length }}</td>-->
          <!--          </ng-container>-->

          <!--          <ng-container matColumnDef="play">-->
          <!--            <th mat-header-cell *matHeaderCellDef>Link</th>-->
          <!--            <td mat-cell *matCellDef="let playlist">-->
          <!--              <a [href]="'/player?vid=' + playlist['videos'][0]['_id'] + '&list=' + playlist['_id']">-->
          <!--                <mat-icon>play_arrow</mat-icon>-->
          <!--              </a>-->
          <!--            </td>-->
          <!--          </ng-container>-->

          <!--          <tr mat-header-row *matHeaderRowDef="playlistsDisplayedColumns"></tr>-->
          <!--          <tr mat-row *matRowDef="let row; columns: playlistsDisplayedColumns;"></tr>-->
          <!--        </table>-->
        </div>

        <mat-paginator color="accent" #playlistsPaginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

      </mat-tab>



      <mat-tab *ngIf="userType === 'github'" label="Repositories">

        <div class="alert alert-warning mt-3" *ngIf="currentUserRepos.length === 0 && (tableLoaded | async)">
          You don't have any repositories! Maybe create new one?
        </div>


        <div class="d-flex">
          <mat-form-field class="mt-3" color="accent">
            <mat-label>Search for repository</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Repo name" #input>
          </mat-form-field>

          <div class="m-0 ml-auto mt-auto mb-auto">
            <button mat-raised-button color="primary" (click)="openCreateRepoDialog()" type="submit">Create repository</button>
          </div>
        </div>


        <div class="repo-table-holder mat-elevation-z8">
          <table class="w-100" mat-table [dataSource]="dataSource" matSort>

            <!-- Repo name column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <!-- Repo description Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
              <td mat-cell *matCellDef="let row"> {{row['description']}} </td>
            </ng-container>

            <!-- Repo private or public Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let row"> {{row['private'] ? 'Private' : 'Public'}} </td>
            </ng-container>

            <!-- Repo commits Column -->
            <ng-container matColumnDef="commits">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Commits </th>
              <td mat-cell *matCellDef="let row"><a (click)="openShowCommitsDialog(row['name'], row['owner']['login'], row['private'])"><mat-icon>mediation_icon</mat-icon></a></td>
            </ng-container>

            <!-- External link to repo column -->
            <ng-container matColumnDef="external_link">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> GitHub link </th>
              <td mat-cell *matCellDef="let row"><a href="{{row['html_url']}}" target="_blank"><mat-icon>input_icon</mat-icon></a></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator color="accent" #repoPaginator [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
        </div>

      </mat-tab>
    </mat-tab-group>

  </div>


</div>
