/*@import url(https://fonts.googleapis.com/css?family=Poppins:300);*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*body {*/
/*  font-family: "Poppins", sans-serif !important;*/
/*}*/

.bg-dark {
  /*background-color: #303030 !important;*/
  background-color: rgb(24, 24, 24) !important;
}

/*.mat-tooltip-trigger {*/
/*  touch-action: auto !important;*/
/*}*/
.mat-button-focus-overlay {
  background-color: transparent !important;
}
button:focus {
  outline: none !important;
}

@media screen and (min-width: 992px) {
  .navbar {
    height: 50px;
  }
}

button.navbar-toggler {
  line-height: 1.6;
}

.darkBar {
  background-color: rgba(50, 50, 50, 0.9);
  padding: 0;
  text-align: center;
}
/*.mat-menu-panel {*/
/*  min-height: auto !important;*/
/*}*/

/*.mat-menu-content {*/
/*  padding: 0 !important;*/
/*}*/

/*.mat-form-field-underline {*/
/*  bottom: 0 !important;*/
/*}*/

/*.mat-form-field-wrapper {*/
/*  padding-bottom: 0 !important;*/
/*}*/

/*.page-item.disabled .page-link {*/
/*  border-color: rgba(0,0,0,0.5) !important;*/
/*  background: rgba(100,100,100,0.5) !important;*/
/*}*/

/*.page-item.active .page-link {*/
/*  border-color: rgba(0,0,0,0.5) !important;*/
/*  background: rgba(50,100,255,0.8) !important;*/
/*  color: rgba(255,255,255,1) !important;*/
/*}*/

/*.page-item.active .page-link:hover {*/
/*  border-color: rgba(0,0,0,0.5) !important;*/
/*  background: rgba(50,150,255,1) !important;*/
/*  color: rgba(255,255,255,1) !important;*/
/*}*/

/*.page-link {*/
/*  border-color: rgba(0,0,0,0.5);*/
/*  background: rgba(100,100,100,0.5) !important;*/
/*  color: rgba(255,255,255,0.6) !important;*/
/*  transition-duration: .2s !important;*/
/*}*/

/*.page-link:hover {*/
/*  background: rgba(200,200,200,0.9) !important;*/
/*  color: rgba(0,0,0,1) !important;*/
/*  border-color: rgba(50,100,255,0.8) !important;*/
/*}*/

@media screen and (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1400px;
  }
}

.videos {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  padding: 20px 0;
}

@media screen and (min-width: 576px) {
  .videos {
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (min-width: 768px) {
  .videos {
    grid-template-columns: repeat(3,1fr);
  }
}
@media screen and (min-width: 992px) {
  .videos {
    grid-template-columns: repeat(4,1fr);
  }
}

/*.videos {*/
/*  -webkit-column-count: 1;*/
/*  -webkit-column-gap:   10px;*/
/*  -moz-column-count:    1;*/
/*  -moz-column-gap:      10px;*/
/*  column-count:         1;*/
/*  column-gap:           10px;*/
/*}*/

/*@media (min-width: 576px) {*/
/*  .videos  {*/
/*    -moz-column-count:    2;*/
/*    -webkit-column-count: 2;*/
/*    column-count:         2;*/
/*  }*/
/*}*/
/*@media (min-width: 992px) {*/
/*  .videos  {*/
/*    -moz-column-count:    3;*/
/*    -webkit-column-count: 3;*/
/*    column-count:         3;*/
/*  }*/
/*}*/
/*@media (min-width: 1200px) {*/
/*  .videos {*/
/*    -moz-column-count:    4;*/
/*    -webkit-column-count: 4;*/
/*    column-count:         4;*/
/*  }*/
/*}*/

.videos a {
  text-decoration: none;
}

.preview {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.video {
  /*background-color: #373b69;*/
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  /*margin-bottom: 10px;*/
}

.video video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video img {
  width: 100%;
  position: relative;
  transition: ease .3s;
  z-index: 2;
}

.video:hover img {
  opacity: 0;
}


.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  letter-spacing: 1px;
  /*position: absolute;*/
  /*bottom: 0;*/
  /*overflow: visible;*/
  /*background-color: #373b9999;*/
  /*width: 100%;*/
  /*z-index: 10;*/
}

.movie-info p {
  margin: 0;
  font-weight: 400;
}

.movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}
.movie-info span.green {
  color: rgb(39, 189, 39);
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: rgb(189, 42, 42);
}


.mat-progress-bar[mode=buffer] .mat-progress-bar-background {
  display: none !important;
}



::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.8);
  border-radius: 10px;
}
