<div class="container my-4">
  <div *ngIf="isLoggedIn && videosExist">

    <h1 class="mt-2">Latest {{ limit }} videos</h1>

    <div class="videos">

      <a class="text-left h-100" *ngFor="let video of latestVideos" [routerLink]="['/player']" [queryParams]="{vid: video.id}">
        <div class="video h-100" [title]="video.title">

            <div class="preview">

              <img
                src="{{ baseUrl }}/{{ video.cover }}"
                class="img-fluid hoverable"
                (mouseover)="loadPreview($event)"
                (mouseleave)="unloadPreview($event)"
               alt="{{ video.title }}"
              >

              <video
                preload="auto"
                poster="{{ baseUrl }}/{{ video.cover }}"
                muted
                loop
                class="img-fluid"
                id="{{ video.id }}"
              >
                <source src="{{ baseUrl }}/{{ video.thumb }}" type="video/webm">
              </video>

            </div>

            <div class="movie-info">
              <h3 style="font-size: 13px; word-break: break-word;">{{ (video.title.length > 30 ? video.title.slice(0, 30) + '...' : video.title) }}</h3>
              <span style="color: rgba(50,170,255,0.8)" title="Views">{{ video.visits }}</span>
            </div>

        </div>
      </a>
    </div>

    <div class="text-center mt-4">
      <a role="button" class="btn btn-lg btn-outline-secondary" [routerLink]="['/videos']">View all</a>
    </div>

    <hr class="mt-4">

  </div>
</div>
