<div *ngIf="!noVideos" class="container py-4">
<!--  <div class="shortPreview"><div class="bg"><video autoplay id="shortPreviewVideo"></video></div></div>-->
  <h3 class="pb-2 text-center">All videos ({{ videosLength }})</h3>

<!--  <div *ngIf="pages.pages && pages.pages.length > 0" class="pb-0 w-100 overflow-auto">-->
<!--    <ul class="pagination justify-content-md-center">-->
<!--      <li [ngClass]="{'disabled':pages.currentPage === 1}" class="page-item first-item">-->
<!--        <a [routerLink]="['/videos']" [queryParams]="{page: 1}" class="page-link">First</a>-->
<!--      </li>-->
<!--      <li [ngClass]="{'disabled':pages.currentPage === 1}" class="page-item previous-item">-->
<!--        <a [routerLink]="['/videos']" [queryParams]="{page: pages.currentPage - 1}" class="page-link">Previous</a>-->
<!--      </li>-->
<!--      <li *ngFor="let page of pages.pages" [ngClass]="{'active':pages.currentPage === page}" class="page-item number-item">-->
<!--        <a [routerLink]="['/videos']" [queryParams]="{page: page}" class="page-link">{{ page }}</a>-->
<!--      </li>-->
<!--      <li [ngClass]="{'disabled':pages.currentPage === pages.totalPages}" class="page-item next-item">-->
<!--        <a [routerLink]="['/videos']" [queryParams]="{page: pages.currentPage + 1}" class="page-link">Next</a>-->
<!--      </li>-->
<!--      <li [ngClass]="{'disabled':pages.currentPage === pages.totalPages}" class="page-item last-item">-->
<!--        <a [routerLink]="['/videos']" [queryParams]="{page: pages.totalPages}" class="page-link">Last</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

  <mat-spinner class="mx-auto mt-4" *ngIf="loading"></mat-spinner>
  <div class="videos" *ngIf="!loading">

    <a class="text-left h-100" *ngFor="let video of videosOnPage" [routerLink]="['/player']" [queryParams]="{vid: video.id}">
      <div class="video h-100" [title]="video.title">
<!--        <a [routerLink]="['/player']" [queryParams]="{vid: video.id}">-->
          <div class="preview">

            <img
              src="{{ baseUrl }}/{{ video.cover }}"
              class="img-fluid prev"
              (mouseover)="loadPreview($event)"
              (mouseleave)="unloadPreview($event)"
             alt="{{ video.title }}">

            <video
              preload="auto"
              poster="{{ baseUrl }}/{{ video.cover }}"
              muted
              loop
              class="img-fluid"
              id="{{ video.id }}"
            >
              <source src="{{ baseUrl }}/{{ video.thumb }}" type="video/webm">
            </video>

          </div>

          <div class="movie-info">
            <strong style="font-size: 12px; word-break: break-word;">{{ (video.title.length > 30 ? video.title.slice(0, 30) + '...' : video.title) }}</strong>
            <span style="color: rgba(50,170,255,0.8)" title="Views">{{ video.visits }}</span>
          </div>

<!--        </a>-->
      </div>

    </a>
  </div>

<!--  <mat-paginator-->
<!--    class="mt-2"-->
<!--    [showFirstLastButtons]="true"-->
<!--    [length]="videosLength"-->
<!--    [pageSize]="videosPerPage"-->
<!--    [pageSizeOptions]="pageSizeOptions"-->
<!--    (page)="pageEvent = handlePage($event)"-->
<!--    [pageIndex]="currentPage"-->
<!--  >-->
<!--  </mat-paginator>-->
  <nav aria-label="Page navigation example">
    <ul class="pagination pg-blue justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" mdbWavesEffect>Previous</a>
      </li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>2</a></li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
      <li class="page-item">
        <a class="page-link" mdbWavesEffect>Next</a>
      </li>
    </ul>
  </nav>

<!--  <mat-paginator [length]="videosLength"-->
<!--                 [pageSize]="videosPerPage"-->
<!--                 [pageSizeOptions]="pageSizeOptions"-->
<!--                 (page)="pageEvent = $event">-->
<!--  </mat-paginator>-->

<!--  <div *ngIf="pages.pages && pages.pages.length > 0" class="pb-0 py-3 w-100 overflow-auto">-->
<!--    <ul class="pagination justify-content-md-center">-->
<!--      <li [ngClass]="{'disabled':pages.currentPage === 1}" class="page-item first-item">-->
<!--        <a [routerLink]="['/videos']" [queryParams]="{page: 1}" class="page-link">First</a>-->
<!--      </li>-->
<!--      <li [ngClass]="{'disabled':pages.currentPage === 1}" class="page-item previous-item">-->
<!--        <a [routerLink]="['/videos']" [queryParams]="{page: pages.currentPage - 1}" class="page-link">Previous</a>-->
<!--      </li>-->
<!--      <li *ngFor="let page of pages.pages" [ngClass]="{'active':pages.currentPage === page}" class="page-item number-item">-->
<!--        <a [routerLink]="['/videos']" [queryParams]="{page: page}" class="page-link">{{ page }}</a>-->
<!--      </li>-->
<!--      <li [ngClass]="{'disabled':pages.currentPage === pages.totalPages}" class="page-item next-item">-->
<!--        <a [routerLink]="['/videos']" [queryParams]="{page: pages.currentPage + 1}" class="page-link">Next</a>-->
<!--      </li>-->
<!--      <li [ngClass]="{'disabled':pages.currentPage === pages.totalPages}" class="page-item last-item">-->
<!--        <a [routerLink]="['/videos']" [queryParams]="{page: pages.totalPages}" class="page-link">Last</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

</div>


<div class="container my-4" *ngIf="noVideos">
  <div class="alert alert-info">Sorry! We couldn't find any video in our database! Try to upload something.</div>
</div>
